/* ***  FIRST-MOBILE  *** */

@media screen and (max-width: 767px) {
  body {
    background-color: aqua;
  }

  .section {
    padding: 48px 0;
  }

  .container {
    max-width: 428px;
  }
}

/* *** Tablet (768px - 1157px) *** */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
  body {
    background-color: rgb(193, 223, 164);
  }
}

/* *** Desktop (1157px +) *** */

@media screen and (min-width: 1158px) {
  body {
    /* background-color: rgb(106, 226, 156); */
  }

  .section-header {
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .container {
    max-width: 1158px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-page {
    font-family: "Bebas Neue", sans-serif;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 20px;
    max-width: 280px;
  }
  .title-descript {
    font-family: "Bebas Neue", sans-serif;
    text-transform: capitalize;
    font-size: 24px;
  }

  .adress-page {
    color: black;
  }

  .section-hero {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .menu-about-me {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .list-about-me {
    /* outline: 1px solid yellow; */
    width: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
