/* ***  FIRST-MOBILE  *** */

@media screen and (max-width: 767px) {
  .section {
    padding: 48px 0;
  }

  .container {
    max-width: 428px;
  }

  .list-about-me {
    display: block;
    margin-bottom: 20px;
  }

  .list-about-me:last-child {
    padding-bottom: 0;
  }
}

/* *** Tablet (768px - 1157px) *** */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-hero {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .list-about-me {
    display: block;
    margin-bottom: 20px;
  }

  .list-about-me:last-child {
    padding-bottom: 0;
  }
}

/* *** Desktop (1157px +) *** */

@media screen and (min-width: 1158px) {
  .section-header {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 1158px;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title-page {
    font-family: "Bebas Neue", sans-serif;
    font-size: 56px;
    max-width: 280px;
  }
  .title-descript {
    font-family: "Bebas Neue", sans-serif;
    text-transform: capitalize;
    font-size: 24px;
  }

  .adress-page {
    color: black;
  }

  .section-hero {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .menu-about-me {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .list-about-me {
    width: calc((100% - 100px) / 2);
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 30px;
  }
}
