body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

.section {
}

.section-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.title-page {
  font-family: "Bebas Neue", sans-serif;
  text-transform: capitalize;
}
.title-descript {
  font-family: "Bebas Neue", sans-serif;
  text-transform: capitalize;
}

.link-card-about-me {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

.list-about-me:hover,
.list-about-me:focus {
  box-shadow: 4px 8px 12px rgba(46, 47, 66, 0.08),
    4px 4px 4px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-adress {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

.list-about-me {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.item-adress {
  display: flex;
  align-items: center;
  /* margin-bottom: 4px; */
}

.social-svg-icon {
  margin-right: 6px;
}

/* Mobile menu */

.mobile-menu-container-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.mobile-menu-container-fixed.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu_container-reletiv {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.mobile-menu_btn-close {
  position: absolute;
  top: 24px;
  right: 45px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.adress-mobile-menu {
  display: flex;
  justify-content: center;
}

.svg-icon-logo {
  position: fixed;
  top: 10px;
  left: 70px;
}
