body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

.section {
  outline: 1px solid red;
}

.container {
  outline: 1px solid blue;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.link-card-about-me {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

.list-about-me:hover,
.list-about-me:focus {
  box-shadow: 4px 8px 12px rgba(46, 47, 66, 0.08),
    4px 4px 4px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-adress {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(21, 6, 6);
}

/* .list-desc-about-me {
  list-style: square;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} */
